Repository BerlinUnited/NaoTH: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_naoth, publish_naoth, compileGame, compileLocal

test_naoth:
  stage: python
  script:
  - cd NaoTHSoccer/Make
  - premake5 gmake2 --protoc
  - cd ../../Utils/py/naoth
  - pip3 install .
  - pip3 install scipy
  - python3 -m unittest discover -s tests

publish_naoth:
  stage: python
  script:
  - cd NaoTHSoccer/Make
  - premake5 gmake2 --protoc
  - cd ../../Utils/py/naoth
  - ./package_naoth.sh

compileGame:
  stage: nao
  script:
  - cd NaoTHSoccer/Make
  - ./compileGame.sh -j 4

compileLocal:
  stage: linux
  script:
  - cd NaoTHSoccer/Make
  - premake5 gmake2 --protoc
  - cd ../build
  - make all -j 4

correct path for java probuf messages
  .gitattributes
Due: none

generated protobuf messages for python
  Utils/py/naoth/naoth/pb/AudioData_pb2.py
  Utils/py/naoth/naoth/pb/CommonTypes_pb2.py
  Utils/py/naoth/naoth/pb/Framework_Representations_pb2.py
  Utils/py/naoth/naoth/pb/Messages_pb2.py
  Utils/py/naoth/naoth/pb/Representations_pb2.py
  Utils/py/naoth/naoth/pb/RobotPose_pb2.py
  Utils/py/naoth/naoth/pb/TeamMessage_pb2.py
Due: test_naoth, publish_naoth

generated protobuf messages for java
  RobotControl/src/de/naoth/rc/core/messages/AudioDataOuterClass.java
  RobotControl/src/de/naoth/rc/core/messages/CommonTypes.java
  RobotControl/src/de/naoth/rc/core/messages/FrameworkRepresentations.java
  RobotControl/src/de/naoth/rc/core/messages/Messages.java
  RobotControl/src/de/naoth/rc/core/messages/Representations.java
  RobotControl/src/de/naoth/rc/core/messages/RobotPoseOuterClass.java
  RobotControl/src/de/naoth/rc/core/messages/TeamMessageOuterClass.java
Due: none

generated protobuf messages for cpp (Framework)
  Framework/Commons/Source/Messages/AudioData.pb.cc
  Framework/Commons/Source/Messages/AudioData.pb.h
  Framework/Commons/Source/Messages/CommonTypes.pb.cc
  Framework/Commons/Source/Messages/CommonTypes.pb.h
  Framework/Commons/Source/Messages/Framework-Representations.pb.cc
  Framework/Commons/Source/Messages/Framework-Representations.pb.h
  Framework/Commons/Source/Messages/Messages.pb.cc
  Framework/Commons/Source/Messages/Messages.pb.h
Due: compileGame, compileLocal

generated protobuf messages for python (NaoTHSoccer)
  NaoTHSoccer/Source/Messages/Representations.pb.cc
  NaoTHSoccer/Source/Messages/Representations.pb.h
  NaoTHSoccer/Source/Messages/RobotPose.pb.cc
  NaoTHSoccer/Source/Messages/RobotPose.pb.h
  NaoTHSoccer/Source/Messages/TeamMessage.pb.cc
  NaoTHSoccer/Source/Messages/TeamMessage.pb.h
Due: compileGame, compileLocal

goalie return to field fix
  NaoTHSoccer/Source/Cognition/Modules/Behavior/XABSLBehaviorControl/Options/Roles/role_goalie.xabsl
Due: compileGame, compileLocal

try to exclude generated messages from code quality report
  .gitlab-ci.yml
Due: none

another try for better code quality check
  .codeclimate.yml
  .gitlab-ci.yml
Due: none

fix warning: unused variables small formatting cleanup
  NaoTHSoccer/Source/Motion/SensorFilter/BumperCollisionDetector.cpp
  NaoTHSoccer/Source/Motion/SensorFilter/BumperCollisionDetector.h
Due: compileGame, compileLocal

disable a clang warning: -Wno-unused-function - allow unused functions in cpp files
  NaoTHSoccer/Make/premake5.lua
Due: compileGame, compileLocal

cleanup: all compiler flags are set in the main premake5.lua
  Framework/Commons/Make/Commons.lua
Due: compileGame, compileLocal

nicer calculation of the stream length
  Framework/Commons/Source/Representations/Infrastructure/DebugMessage.h
Due: compileGame, compileLocal

removed unnecessary ASSERT
  NaoTHSoccer/Source/Representations/Modeling/BallModel.h
Due: compileGame, compileLocal

nicer array initialization
  NaoTHSoccer/Source/Cognition/Modules/VisualCortex/IntegralImageProvider.cpp
Due: compileGame, compileLocal

constant size array
  NaoTHSoccer/Source/Cognition/Modules/VisualCortex/IntegralImageProvider.cpp
Due: compileGame, compileLocal

a getModule method is better than making the variable protected
  Framework/Commons/Source/ModuleFramework/Module.h
Due: compileGame, compileLocal

keep the unused variables commented out, because they are used by commented out code
  NaoTHSoccer/Source/Cognition/Modules/Modeling/SelfLocator/SituationPriorProvider/SituationPriorProvider.h
Due: compileGame, compileLocal

change int32 to uint32 in the message for StopwatchItem to match the type in the cpp class NOTE: uint32 is compatible with int32 in protobuf
  Framework/Commons/Messages/Messages.proto
  Framework/Commons/Source/Messages/Messages.pb.cc
  Framework/Commons/Source/Messages/Messages.pb.h
  Framework/Commons/Source/Representations/Debug/Stopwatch.cpp
  RobotControl/src/de/naoth/rc/core/messages/Messages.java
  Utils/py/naoth/naoth/pb/Messages_pb2.py
Due: test_naoth, publish_naoth, compileGame, compileLocal

small fix: disconnect the representation panel if the dialog closes
  RobotControl/src/de/naoth/rc/dialogsFx/representationinspector/RepresentationInspectorDialog.java
Due: none

use a boolean property for the modules active flag and connect that to the checkbox tree and move the (de-)activation handling where it belongs
  RobotControl/src/de/naoth/rc/dialogsFx/moduleconfiguration/Module.java
  RobotControl/src/de/naoth/rc/dialogsFx/moduleconfiguration/ModuleConfiguration.java
  RobotControl/src/de/naoth/rc/dialogsFx/moduleconfiguration/ModuleConfigurationModules.java
Due: none

react to changes of the modules active flag in the dependency view
  RobotControl/src/de/naoth/rc/dialogsFx/moduleconfiguration/ModuleConfigurationDependency.java
Due: none

small cleanup
  RobotControl/src/de/naoth/rc/dialogsFx/moduleconfiguration/ModuleConfigurationModules.java
Due: none

select the active module in the module tree, if it is change through the search box or dependency view
  RobotControl/src/de/naoth/rc/dialogsFx/moduleconfiguration/ModuleConfigurationModules.java
Due: none

fix: added "alive check" to the agent controller in order to prevent the user from calling "wait_connected" on a "dead" thread
  Utils/py/naoth/naoth/utils/_debug.py
Due: test_naoth, publish_naoth

removed counter for whistles and instead save framenumber of last whistle detected.
  NaoTHSoccer/Messages/Representations.proto
  NaoTHSoccer/Source/Cognition/Modules/Infrastructure/GameController/GameController.cpp
  NaoTHSoccer/Source/Cognition/Modules/Perception/WhistleDetector/WhistleDetectorV1.cpp
  NaoTHSoccer/Source/Cognition/Modules/Perception/WhistleDetector/WhistleDetectorV1.h
  NaoTHSoccer/Source/Cognition/Modules/Perception/WhistleDetector/WhistleDetectorV2.cpp
  NaoTHSoccer/Source/Messages/Representations.pb.cc
  NaoTHSoccer/Source/Messages/Representations.pb.h
  NaoTHSoccer/Source/Representations/Perception/WhistlePercept.cpp
  NaoTHSoccer/Source/Representations/Perception/WhistlePercept.h
  RobotControl/src/de/naoth/rc/core/messages/Representations.java
  Utils/py/naoth/naoth/pb/Representations_pb2.py
Due: test_naoth, publish_naoth, compileGame, compileLocal

update generated protobuf messages with with+height in the image type changed to uint32 (compatible to int32)
  Framework/Commons/Source/Messages/Framework-Representations.pb.cc
  Framework/Commons/Source/Messages/Framework-Representations.pb.h
  RobotControl/src/de/naoth/rc/core/messages/FrameworkRepresentations.java
  Utils/py/naoth/naoth/pb/Framework_Representations_pb2.py
Due: test_naoth, publish_naoth, compileGame, compileLocal

cast to std::streamsize as this is the type expected by write(...)
  Framework/Commons/Source/Representations/Infrastructure/Configuration.cpp
Due: compileGame, compileLocal

changed the types to unsigned int to match the proto messages
  Framework/Commons/Source/Representations/Infrastructure/AudioControl.h
  Framework/Commons/Source/Representations/Infrastructure/AudioData.cpp
  Framework/Commons/Source/Representations/Infrastructure/AudioData.h
  Framework/Platforms/Source/DCM/NaoRobot/AudioRecorder.h
Due: compileGame, compileLocal

bugfix: added a missing include for VS
  Framework/Commons/Source/Representations/Infrastructure/DebugMessage.h
Due: compileGame, compileLocal

fix pypi token
  Utils/py/naoth/package_naoth.sh
Due: test_naoth, publish_naoth

adapt current standard parameter for process noise and bool filter
  NaoTHSoccer/Source/Cognition/Modules/Modeling/BallLocator/MultiKalmanBallLocator/MultiKalmanBallLocator.h
Due: compileGame, compileLocal

fix typo
  NaoTHSoccer/Make/premake5.lua
Due: compileGame, compileLocal

a test for the pulse audio recorder - creates a standalone binary streaming sound to cout (can be piped into a raw file)
  NaoTHSoccer/Make/premake5.lua
  NaoTHSoccer/Test/Make/AudioRecorder.lua
  NaoTHSoccer/Test/Source/AudioRecorder/main.cpp
Due: compileGame, compileLocal

draw preview of ball which will be added next in FakeBallDetector
  NaoTHSoccer/Source/Cognition/Modules/VisualCortex/FakeBallDetector/FakeBallDetector.cpp
Due: compileGame, compileLocal

add pixel noise to FakeBallDetector
  NaoTHSoccer/Source/Cognition/Modules/VisualCortex/FakeBallDetector/FakeBallDetector.cpp
  NaoTHSoccer/Source/Cognition/Modules/VisualCortex/FakeBallDetector/FakeBallDetector.h
Due: compileGame, compileLocal

add detection noise to FakeBallDetector
  NaoTHSoccer/Source/Cognition/Modules/VisualCortex/FakeBallDetector/FakeBallDetector.cpp
  NaoTHSoccer/Source/Cognition/Modules/VisualCortex/FakeBallDetector/FakeBallDetector.h
Due: compileGame, compileLocal

fix typo in readme
  Utils/py/BallDetection/RegressionNetwork/README.md
Due: none

update requirements
  Utils/py/BallDetection/RegressionNetwork/environment.yml
  Utils/py/BallDetection/RegressionNetwork/requirements.txt
Due: none

remove metrics and a unused callback for tf2 compatibility
  Utils/py/BallDetection/RegressionNetwork/train.py
  Utils/py/BallDetection/RegressionNetwork/utility_functions/loader.py
Due: none

small fix: support python 3.9 and 3.6 for DebugProxy
  Utils/py/naoth/naoth/utils/_debug.py
Due: test_naoth, publish_naoth

Path conditions:
  test_naoth: any of: Utils/py/naoth/**/*
  publish_naoth: any of: Utils/py/naoth/**/*
  compileGame: any of: Framework/**/*, NaoTHSoccer/**/*
  compileLocal: any of: Framework/**/*, NaoTHSoccer/**/*
