Repository BerlinUnited/NaoTH: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_naoth, publish_naoth, compileGame, compileLocal

test_naoth:
  stage: python
  script:
  - cd NaoTHSoccer/Make
  - premake5 gmake2 --protoc
  - cd ../../Utils/py/naoth
  - pip3 install .
  - pip3 install scipy
  - python3 -m unittest discover -s tests

publish_naoth:
  stage: python
  script:
  - cd NaoTHSoccer/Make
  - premake5 gmake2 --protoc
  - cd ../../Utils/py/naoth
  - ./package_naoth.sh

compileGame:
  stage: nao
  script:
  - cd NaoTHSoccer/Make
  - ./compileGame.sh -j 4

compileLocal:
  stage: linux
  script:
  - cd NaoTHSoccer/Make
  - premake5 gmake2 --protoc
  - cd ../build
  - make all -j 4

add little script for determining some optimal process noise covariance
  Utils/py/examples_cppyy/mkbl_optimize_params.py
Due: none

disable some modules
  Utils/py/examples_cppyy/mkbl_optimize_params.py
Due: none

some alternative trajectories and optimization algorithm
  Utils/py/examples_cppyy/mkbl_optimize_params.py
Due: none

add flag for switching between debug and production build for neural network compiler
  Utils/py/BallDetection/RegressionNetwork/devil_code_generator1/compile.py
Due: none

fix default behavior of compile.py such that it behaves like develop. Stuff was wrongly merged
  Utils/py/BallDetection/RegressionNetwork/devil_code_generator1/compile.py
Due: none

adjusted the axis orientation to the new default convention for the OptiTrac coordinate in the NaoTH lab.
  Framework/Platforms/Source/DCM/NaoRobot/OptiTrackParser.h
Due: compileGame, compileLocal

convert quaternion directly to rotation matrix
  Framework/Platforms/Source/DCM/NaoRobot/OptiTrackClient.cpp
  Framework/Platforms/Source/DCM/NaoRobot/OptiTrackParser.h
Due: compileGame, compileLocal

typos
  Framework/Platforms/Source/DCM/NaoRobot/OptiTrackParser.h
Due: compileGame, compileLocal

fix sign in 2. colum, 3. row
  Framework/Platforms/Source/DCM/NaoRobot/OptiTrackParser.h
Due: compileGame, compileLocal

added some test for the quaternion->Matrix conversion function
  Framework/Platforms/Source/DCM/NaoRobot/OptiTrackParser.h
Due: compileGame, compileLocal

clarify what x and y mean here
  Utils/py/BallDetection/RegressionNetwork/train.py
Due: none

show the optirac objects in 3D viewer
  NaoTHSoccer/Source/Cognition/Modules/Perception/PerceptionsVisualizer/PerceptionsVisualizer.cpp
  NaoTHSoccer/Source/Cognition/Modules/Perception/PerceptionsVisualizer/PerceptionsVisualizer.h
Due: compileGame, compileLocal

don't record invald trackables
  Framework/Platforms/Source/DCM/NaoRobot/OptiTrackParser.h
Due: compileGame, compileLocal

draw OptiTrack body and head on the field
  RobotControl/src/de/naoth/rc/dialogs/FieldViewer.java
Due: none

updated kaggle use dummy account with checked in credentials for downloading the dataset. It is not possible to modify our dataset with those credentials
  Utils/py/BallDetection/RegressionNetwork/generate_image_db.py
  Utils/py/BallDetection/RegressionNetwork/requirements.txt
Due: none

Revert "remove matlab experiments"
  .gitignore
  Utils/py/README.md
  Utils/py/TeamCommGenerator/README
  Utils/py/demos/README.md
  Utils/py/demos/notebooks/current_cusumption_example.ipynb
  Utils/py/demos/requirements.txt
Due: none

Images with masks can now be processed together with png images or separately from each other.
  Utils/py/BallDetection/RegressionNetwork/generate_image_db.py
  Utils/py/BallDetection/RegressionNetwork/utility_functions/loader.py
Due: none

solved some todos in loader with olya made it possible to create natural, synthetic and mixed dataset
  Utils/py/BallDetection/RegressionNetwork/generate_image_db.py
  Utils/py/BallDetection/RegressionNetwork/utility_functions/loader.py
Due: none

added function store_output() to store generated dataset.
  Utils/py/BallDetection/RegressionNetwork/generate_image_db.py
Due: none

set the mass and joints to the Nao v4 model by default
  NaoTHSoccer/Config/platform/SimSpark/joints.cfg
  NaoTHSoccer/Config/platform/SimSpark/mass.cfg
Due: compileGame, compileLocal

number of elements in the array definition needs to be a constant
  Framework/Commons/Source/Tools/DataStructures/RingBufferWithStddev.h
  Framework/Commons/Source/Tools/DataStructures/RingBufferWithSum.h
Due: compileGame, compileLocal

Include the new file name instead of the old one
  Framework/Platforms/Source/DCM/NaoSMAL/SMALModule.h
Due: compileGame, compileLocal

removed underscores from the include guards
  Framework/Platforms/Source/DCM/Tools/DCMData.h
Due: compileGame, compileLocal

add todos for pypi release fix
  Utils/py/naoth/package_naoth.sh
Due: test_naoth, publish_naoth

WIP for fixing pypi release added version file to easily get the naoth package version in bash added setup.py support for version file added comparision for current and released versions
  Utils/py/naoth/VERSION
  Utils/py/naoth/package_naoth.sh
  Utils/py/naoth/setup.py
Due: test_naoth, publish_naoth

add dont overwrite logic to pypi release
  Utils/py/naoth/package_naoth.sh
Due: test_naoth, publish_naoth

cleanup
  Utils/py/naoth/VERSION
  Utils/py/naoth/package_naoth.sh
Due: test_naoth, publish_naoth

delete existing pypi package first and then build and deploy newly build python package if the version number matches
  Utils/py/naoth/package_naoth.sh
Due: test_naoth, publish_naoth

fix api endpoint
  Utils/py/naoth/package_naoth.sh
Due: test_naoth, publish_naoth

use double in OptiTrackParser::rotationFromQuaternionDirectly for higher precision
  Framework/Platforms/Source/DCM/NaoRobot/OptiTrackParser.h
Due: compileGame, compileLocal

remove double loop in generated predict function
  Utils/py/BallDetection/RegressionNetwork/devil_code_generator1/onbcg.py
Due: none

make the test predict function like production predict function
  Utils/py/BallDetection/RegressionNetwork/devil_code_generator1/onbcg.py
Due: none

fix misleading warning in balldetection loader - if type is smudge then its a ball we dont want to consider as ball for the training
  Utils/py/BallDetection/RegressionNetwork/utility_functions/loader.py
Due: none

WIP for replacing the custom metrics from thomas with ones that are compatible with tensorflow 2.x
  Utils/py/BallDetection/RegressionNetwork/requirements.txt
  Utils/py/BallDetection/RegressionNetwork/train.py
Due: none

fixed typo "INVALIDE"
  Framework/Commons/Source/Representations/Infrastructure/UltraSoundData.cpp
  Framework/Commons/Source/Representations/Infrastructure/UltraSoundData.h
  Framework/Platforms/Source/SimSpark/SimSparkController.cpp
Due: compileGame, compileLocal

added note and hack, if the same ultrasound data is received for some time
  Framework/Platforms/Source/SimSpark/SimSparkController.cpp
  NaoTHSoccer/Source/Cognition/Modules/Modeling/ObstacleLocator/UltraSoundObstacleLocator.cpp
Due: compileGame, compileLocal

enable modules in mkbl_plot_tracking_performance.py
  Utils/py/examples_cppyy/mkbl_plot_tracking_performance.py
Due: none

only activate the necessary modules for basic functionality in simspark
  NaoTHSoccer/Config/platform/SimSpark/modules.cfg
Due: compileGame, compileLocal

use the 2019 walk params as default
  NaoTHSoccer/Config/platform/SimSpark/Walk_FeetStabilizer.cfg
  NaoTHSoccer/Config/platform/SimSpark/Walk_FootTrajectoryGenerator2018.cfg
  NaoTHSoccer/Config/platform/SimSpark/Walk_TorsoRotationStabilizer.cfg
  NaoTHSoccer/Config/platform/SimSpark/Walk_ZMPPlanner2018.cfg
Due: compileGame, compileLocal

Path conditions:
  test_naoth: any of: Utils/py/naoth/**/*
  publish_naoth: any of: Utils/py/naoth/**/*
  compileGame: any of: Framework/**/*, NaoTHSoccer/**/*
  compileLocal: any of: Framework/**/*, NaoTHSoccer/**/*
