Repository BerlinUnited/NaoTH: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_naoth, publish_naoth, compileGame, compileLocal

.gitlab-ci.yml:

stages:
 - python
 - static_analysis
 - nao 
 - linux

default:
  image: $DOCKER_IMAGE

cppcheck:
  stage: static_analysis
  rules:
     - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
     - if: '$CI_PIPELINE_SOURCE == "web"'
     - if: '$CI_PIPELINE_SOURCE == "trigger"'
     - if: $CI_COMMIT_BRANCH == "develop"
  script:
  - cppcheck -j 4 --enable=all --inconclusive --xml --xml-version=2 . 2> cppcheck-result.xml
  - cppcheck-htmlreport --file=cppcheck-result.xml --report-dir=test1 --source-dir=.

  artifacts:
    paths: [test1]
    expire_in: 1 week

test_naoth:
  stage: python
  rules:
    - if: '$PUBLISH_NAOTH != null || $TEST_NAOTH != null'
    - if: $CI_COMMIT_BRANCH == "develop"
      changes:
        - Utils/py/naoth/**/*
  script:
    - cd NaoTHSoccer/Make
    - premake5 gmake2 --protoc
    - cd ../../Utils/py/naoth
    - apt-get --no-install-recommends -y install python3-venv
    - python3 -m venv venv
    - source venv/bin/activate
    - pip3 install . # install naoth
    - pip3 install skipy # TODO: Scipy is currently required but not defined as a dependency
    - python -m unittest discover -s tests

publish_naoth:
  # run the publish command if the PUBLISH_NAOTH flag is set or the commit changes the develop with changes in the naoth package
  stage: python
  rules:
    - if: '$PUBLISH_NAOTH'
    - if: $CI_COMMIT_BRANCH == "develop"
      changes:
      - Utils/py/naoth/**/*

  script:
  - cd NaoTHSoccer/Make
  - premake5 gmake2 --protoc
  - cd ../../Utils/py/naoth
  - ./package_naoth.sh

compileGame:
  stage: nao
  rules:
    - changes: 
      - Framework/**/*
      - NaoTHSoccer/**/*
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
    - if: $CI_COMMIT_BRANCH == "develop"
  script:
  - cd NaoTHSoccer/Make
  - ./compileGame.sh -j 4

compileLocal:
  stage: linux
  rules:
    - changes: 
      - Framework/**/*
      - NaoTHSoccer/**/*
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
    - if: $CI_COMMIT_BRANCH == "develop"
  script:
  - cd NaoTHSoccer/Make
  - premake5 gmake2 --protoc
  - cd ../build
  - make all -j 4

remove hack
  .gitlab-ci.yml
Due: none

remove venv stuff
  .gitlab-ci.yml
Due: none

imporve plotting of tracking performance heat map
  Utils/py/examples_cppyy/mkbl_plot_performance_heat_map.py
Due: none

fix parsing of RoboPose message in python
  Utils/py/naoth/naoth/pb/__init__.py
Due: test_naoth, publish_naoth

small improvement of usability
  Utils/py/naoth/naoth/utils/_debug.py
Due: test_naoth, publish_naoth

fixed last improvement :P
  Utils/py/naoth/naoth/utils/_debug.py
Due: test_naoth, publish_naoth

fixed old bug
  Framework/Commons/Source/DebugCommunication/DebugCommandManager.cpp
Due: compileGame, compileLocal

last fix in the example: the result method blocks until the result is available (in comparison: asyncio.Future raises an exception)
  Utils/py/naoth/naoth/utils/_debug.py
Due: test_naoth, publish_naoth

fixed typo
  .gitlab-ci.yml
Due: none

if TEST_NAOTH_PYTHON specified only run python tests
  .gitlab-ci.yml
Due: none

python3
  .gitlab-ci.yml
Due: none

order
  .gitlab-ci.yml
Due: none

added run_tests.py script; log choosing; properly handle incorrect test runs
  Utils/py/naoth/naoth/log/_experimental_reader.py
  Utils/py/naoth/run_tests.py
  Utils/py/naoth/tests/test_log.py
Due: test_naoth, publish_naoth

comment
  Utils/py/naoth/tests/test_log.py
Due: test_naoth, publish_naoth

isValid is treated as optional in serialization, so make it optional
  NaoTHSoccer/Messages/RobotPose.proto
Due: compileGame, compileLocal

adjust th guards (ongoing cleanup)
  NaoTHSoccer/Source/Representations/Modeling/RobotPose.h
Due: compileGame, compileLocal

bugfix and cleanup (use DataConversion to avoid errors)
  NaoTHSoccer/Source/Representations/Modeling/RobotPose.cpp
Due: compileGame, compileLocal

RC: generalize loading of individual message classes
  RobotControl/src/de/naoth/rc/dialogs/RepresentationInspector.form
  RobotControl/src/de/naoth/rc/dialogs/RepresentationInspector.java
Due: none

fix working directory for qtc
  Framework/BuildTools/qtcreator_2.7+_project.lua
Due: compileGame, compileLocal

added comments for IncompleteFrameException; removed FrameParseException -> Use EOFError instead
  Utils/py/naoth/naoth/log/_experimental_reader.py
Due: test_naoth, publish_naoth

remove premake5-platform "Nao" from framework-platforms which are not meant to run on the NAO robot
  Framework/Platforms/Make/DummySimulator.lua
  Framework/Platforms/Make/LogSimulator.lua
  Framework/Platforms/Make/LogSimulatorJNI.lua
  Framework/Platforms/Make/ScriptableSimulator.lua
  Framework/Platforms/Make/SimSpark.lua
  Framework/Platforms/Make/WhistleSimulator.lua
Due: compileGame, compileLocal

replaced the custom command class with the package command class
  Utils/py/SimsparkTests/AgentController.py
Due: none

use the agentcontroller of the naoth package
  Utils/py/SimsparkTests/AgentController.py
Due: none

further cleanup since the naoth package agentcontroller does the heavy stuff
  Utils/py/SimsparkTests/AgentController.py
Due: none

updated readme for test execution
  Utils/py/README.md
Due: none

reduced the "kitchen sink" in robot setup repeated inquiry for the ip address, in case it was wrong => better usability
  NaoSCP/src/naoscp/NaoSCP.java
Due: none

bugfix: missing include
  Framework/Platforms/Source/LogSimulator/Simulator.cpp
Due: compileGame, compileLocal

fixed the simspark agent controller and use the class from the package as base class
  Utils/py/SimsparkTests/AgentController.py
Due: none

fixed the penalty kicker test
  Utils/py/SimsparkTests/Tests/pseudo_simple_penalty_kicker.py
Due: none

fixed the opponent goal free kick test, BUT it doesn't work as expected with the role decisions module :/
  Utils/py/SimsparkTests/Tests/opp_goal_free_kick.py
Due: none

fixed the opponent pushing free kick test, BUT it doesn't work as expected with the role decisions module :/
  Utils/py/SimsparkTests/Tests/opp_pushing_free_kick.py
Due: none

fixed role test, but not quite sure, what the purpose is/was
  Utils/py/SimsparkTests/Tests/roles_test.py
Due: none

started to fix the game script
  Utils/py/SimsparkTests/game.py
Due: none

move python script for working with matlab files
  Utils/py/MatlabExperiments/matlab_utils.py
  Utils/py/naoth/naoth/__init__.py
Due: test_naoth, publish_naoth

updated version of naoth package and added changelog
  Utils/py/naoth/CHANGELOG.md
  Utils/py/naoth/setup.py
Due: test_naoth, publish_naoth

basic std logger
  Utils/py/SimsparkTests/game.py
Due: none

added requirements.txt
  Utils/py/MatlabExperiments/requirements.txt
Due: none

rewrite simspark tests configuration and fixed some PEP8 issues
  Utils/py/SimsparkTests/game.py
Due: none

nicer printout for std logger
  Utils/py/SimsparkTests/game.py
Due: none

tiny fix: just print the output which wasn't already printed
  Utils/py/SimsparkTests/SimsparkController.py
Due: none
