Repository BerlinUnited/NaoTH: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_naoth, publish_naoth, compileGame, compileLocal

test_naoth:
  stage: python
  script:
  - cd NaoTHSoccer/Make
  - premake5 gmake2 --protoc
  - cd ../../Utils/py/naoth
  - pip3 install .
  - pip3 install scipy
  - python3 -m unittest discover -s tests

publish_naoth:
  stage: python
  script:
  - cd NaoTHSoccer/Make
  - premake5 gmake2 --protoc
  - cd ../../Utils/py/naoth
  - ./package_naoth.sh

compileGame:
  stage: nao
  script:
  - cd NaoTHSoccer/Make
  - ./compileGame.sh -j 4

compileLocal:
  stage: linux
  script:
  - cd NaoTHSoccer/Make
  - premake5 gmake2 --protoc
  - cd ../build
  - make all -j 4

the command recorder is not a statusbar plugin - removed all dependencies
  RobotControl/src/de/naoth/rc/tools/CommandRecorder.java
Due: none

Cleanup & documentation
  RobotControl/src/de/naoth/rc/tools/CommandRecorder.java
Due: none

fixed the simspark controller to work with python 3.6
  Utils/py/SimsparkTests/SimsparkController.py
Due: none

fixed parameter, in order to comply with newer python versions
  Utils/py/SimsparkTests/SimsparkController.py
  Utils/py/SimsparkTests/game.py
  Utils/py/naoth/naoth/utils/_debug.py
Due: test_naoth, publish_naoth

fixed simspark controller instantiation
  Utils/py/SimsparkTests/Tests/roles_test.py
Due: none

added verbose flag to game script
  Utils/py/SimsparkTests/game.py
Due: none

renamed "handleRecording" to "toggleRecording" and converted class vars to constants
  RobotControl/src/de/naoth/rc/tools/CommandRecorder.java
Due: none

added description to input dialog, which characters are allowed and replace whitespaces with underscores before removing "invalid" chars
  RobotControl/src/de/naoth/rc/tools/CommandRecorder.java
Due: none

introduced new subpackage "plugins" for non-dialog classes
  RobotControl/src/de/naoth/rc/plugins/CommandRecorder.java
Due: none

fixed import and usage of rc plugin
  RobotControl/src/de/naoth/rc/plugins/CommandRecorder.java
Due: none

renamed recording file for a better description
  RobotControl/src/de/naoth/rc/plugins/CommandRecorder.java
Due: none

started to implement the simspark test cases as classes, thereby oriented at pythons unittests
  Utils/py/SimsparkTests/Tests/__init__.py
  Utils/py/SimsparkTests/Tests/penalty_kicker.py
  Utils/py/SimsparkTests/Utils.py
  Utils/py/SimsparkTests/main.py
Due: none

re-implemented free kick test cases as classes
  Utils/py/SimsparkTests/Tests/opp_goal_free_kick.py
  Utils/py/SimsparkTests/Tests/opp_pushing_free_kick.py
Due: none

added some printouts
  Utils/py/SimsparkTests/Utils.py
  Utils/py/SimsparkTests/main.py
Due: none

handle test cancellation
  Utils/py/SimsparkTests/main.py
Due: none

fixed TODO, since we have an object and can save state
  Utils/py/SimsparkTests/Tests/penalty_kicker.py
Due: none

small change: get the current agent behavior from the AgentController
  Utils/py/naoth/naoth/utils/_debug.py
Due: test_naoth, publish_naoth

check if the correct behavior is active
  Utils/py/SimsparkTests/Tests/opp_goal_free_kick.py
  Utils/py/SimsparkTests/Tests/opp_pushing_free_kick.py
  Utils/py/SimsparkTests/Tests/penalty_kicker.py
Due: none

implemented the roles test as test case class
  Utils/py/SimsparkTests/Tests/roles_test.py
Due: none

nicer format to list available tests
  Utils/py/SimsparkTests/main.py
Due: none

used python logging facilities and better logger configuration
  Utils/py/SimsparkTests/Tests/opp_goal_free_kick.py
  Utils/py/SimsparkTests/Tests/opp_pushing_free_kick.py
  Utils/py/SimsparkTests/Tests/penalty_kicker.py
  Utils/py/SimsparkTests/Tests/roles_test.py
  Utils/py/SimsparkTests/Utils.py
  Utils/py/SimsparkTests/main.py
Due: none

code review notes
  NaoTHSoccer/Source/Cognition/Modules/VisualCortex/FieldDetector/IntegralFieldDetector.cpp
Due: compileGame, compileLocal

parse and draw RobotPose on the field when provided from the log (e.g. by the LogInspector)
  RobotControl/src/de/naoth/rc/dialogs/FieldViewer.java
Due: none

Added return type hints for 'read' and 'diet_read' functions of Reader
  Utils/py/naoth/CHANGELOG.md
  Utils/py/naoth/naoth/log/_experimental_reader.py
Due: test_naoth, publish_naoth

max 2min for the penalty kick
  Utils/py/SimsparkTests/Tests/penalty_kicker.py
Due: none

fail: didn't name the test functions properly
  Utils/py/SimsparkTests/Tests/opp_goal_free_kick.py
Due: none

make sure that some modules are disabled/enabled for the simspark simulation tests
  Utils/py/SimsparkTests/Tests/opp_goal_free_kick.py
  Utils/py/SimsparkTests/Tests/opp_pushing_free_kick.py
  Utils/py/SimsparkTests/Tests/penalty_kicker.py
Due: none

put some thoughts in the readme
  Utils/py/SimsparkTests/README.md
Due: none

instead of creating a help window for each dialog, use the global help window and also added menu entry to the help menu for the global help window
  RobotControl/src/de/naoth/rc/DialogRegistry.java
  RobotControl/src/de/naoth/rc/HelpDialog.java
  RobotControl/src/de/naoth/rc/RobotControlImpl.form
  RobotControl/src/de/naoth/rc/RobotControlImpl.java
Due: none

added TOC of all available help files
  RobotControl/src/de/naoth/rc/HelpDialog.java
  RobotControl/src/de/naoth/rc/dialogs/help/index.html
  RobotControl/src/de/naoth/rc/dialogs/help/index_404.html
  RobotControl/src/de/naoth/rc/dialogs/help/index_rc.html
  RobotControl/src/de/naoth/rc/dialogs/help/index_toc.html
Due: none

updated the help for the macro recording
  RobotControl/src/de/naoth/rc/dialogs/help/index_rc.html
Due: none

use natural embedding of the continuous image plane (cip) and pixel coordinates (center of pixel (0,0) is the center of cip) add nice utf8 figure
  NaoTHSoccer/Source/Tools/CameraGeometry.cpp
Due: compileGame, compileLocal

use imagePixelToCameraCoords in pixelToAngles so that there are not two places where the transformation is defined
  NaoTHSoccer/Source/Tools/CameraGeometry.cpp
Due: compileGame, compileLocal

implemented code discussion suggestions
  NaoTHSoccer/Source/Cognition/Modules/VisualCortex/FieldDetector/IntegralFieldDetector.cpp
  NaoTHSoccer/Source/Cognition/Modules/VisualCortex/FieldDetector/IntegralFieldDetector.h
Due: compileGame, compileLocal

remove the explicit calls to parser.register. Those are done automatically now
  Utils/py/naoth/naoth/log/_hdf5.py
Due: test_naoth, publish_naoth

added output to hdf5 demo
  Utils/py/log_parser_examples/convert_log_to_hdf5_demo.py
Due: none

move constants.py
  Utils/py/naoth/naoth/constants.py
  Utils/py/naoth/naoth/log/__init__.py
  Utils/py/naoth/naoth/log/_hdf5.py
Due: test_naoth, publish_naoth

remove explicit calls to parser.register
  Utils/py/naoth/naoth/log/utils.py
Due: test_naoth, publish_naoth

improve the demo to show the usefulness of the approach
  Utils/py/log_parser_examples/convert_log_to_hdf5_demo.py
  Utils/py/naoth/naoth/log/__init__.py
Due: test_naoth, publish_naoth

make the list of dialogs in the help look nicer :)
  RobotControl/src/de/naoth/rc/dialogs/help/index_toc.html
Due: none

Path conditions:
  test_naoth: any of: Utils/py/naoth/**/*
  publish_naoth: any of: Utils/py/naoth/**/*
  compileGame: any of: Framework/**/*, NaoTHSoccer/**/*
  compileLocal: any of: Framework/**/*, NaoTHSoccer/**/*
