Repository BerlinUnited/NaoTH: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_naoth, publish_naoth, compileGame, compileLocal

.gitlab-ci.yml:

stages:
 - python
 - static_analysis
 - nao 
 - linux

default:
  image: $DOCKER_IMAGE

cppcheck:
  stage: static_analysis
  rules:
     - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
     - if: '$CI_PIPELINE_SOURCE == "web"'
     - if: '$CI_PIPELINE_SOURCE == "trigger"'
     - if: $CI_COMMIT_BRANCH == "develop"
  script:
  - cppcheck -j 4 --enable=all --inconclusive --xml --xml-version=2 . 2> cppcheck-result.xml
  - cppcheck-htmlreport --file=cppcheck-result.xml --report-dir=test1 --source-dir=.

  artifacts:
    paths: [test1]
    expire_in: 1 week

test_naoth:
  stage: python
  rules:
    - if: '$PUBLISH_NAOTH != null || $TEST_NAOTH_PYTHON != null'
    - if: $CI_COMMIT_BRANCH == "develop"
      changes:
        - Utils/py/naoth/**/*
  script:
    - cd NaoTHSoccer/Make
    - premake5 gmake2 --protoc
    - cd ../../Utils/py/naoth
    - pip3 install . # install naoth
    - pip3 install scipy # TODO: Scipy is currently required but not defined as a dependency
    - python3 -m unittest discover -s tests

publish_naoth:
  # run the publish command if the PUBLISH_NAOTH flag is set or the commit changes the develop with changes in the naoth package
  stage: python
  rules:
    - if: '$PUBLISH_NAOTH'
    - if: $CI_COMMIT_BRANCH == "develop"
      changes:
      - Utils/py/naoth/**/*

  script:
  - cd NaoTHSoccer/Make
  - premake5 gmake2 --protoc
  - cd ../../Utils/py/naoth
  - ./package_naoth.sh

compileGame:
  stage: nao
  rules:
    - changes: 
      - Framework/**/*
      - NaoTHSoccer/**/*
    - if: '$TEST_NAOTH_PYTHON != null'
      when: never
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
    - if: $CI_COMMIT_BRANCH == "develop"
  script:
  - cd NaoTHSoccer/Make
  - ./compileGame.sh -j 4

compileLocal:
  stage: linux
  rules:
    - changes: 
      - Framework/**/*
      - NaoTHSoccer/**/*
    - if: '$TEST_NAOTH_PYTHON != null'
      when: never
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
    - if: $CI_COMMIT_BRANCH == "develop"
  script:
  - cd NaoTHSoccer/Make
  - premake5 gmake2 --protoc
  - cd ../build
  - make all -j 4

RC RepresentationDialog: show the log representation sorted; immediately show the log content if the representation selection changes and avoid unnecessary changes (data & ui)
  RobotControl/src/de/naoth/rc/dialogsFx/representationinspector/RepresentationPanel.java
Due: none

add huber loss
  Utils/py/BallDetection/RegressionNetwork/utility_functions/loss_zoo.py
Due: none

added more examples for custom loss use
  Utils/py/BallDetection/RegressionNetwork/utility_functions/loss_zoo.py
Due: none

added functional model -> compiler complains about the input layer
  Utils/py/BallDetection/RegressionNetwork/utility_functions/model_zoo.py
Due: none

provide resulting position on field after the noise was applied
  NaoTHSoccer/Source/Cognition/Modules/VisualCortex/FakeBallDetector/FakeBallDetector.cpp
Due: compileGame, compileLocal

use simpler auto-for-each loop
  NaoTHSoccer/Source/Cognition/Modules/Modeling/BallLocator/MultiKalmanBallLocator/MultiKalmanBallLocator.cpp
Due: compileGame, compileLocal

add interface for setting noise (cppyy can not handle anonymous structs and the assignment of a distribution in python does not work)
  NaoTHSoccer/Source/Cognition/Modules/VisualCortex/FakeBallDetector/FakeBallDetector.h
Due: compileGame, compileLocal

quick fix: ignore key events when the dialog is not shown.
  RobotControl/src/de/naoth/rc/DialogFastAccessPanel.java
Due: none

generate messages for the optitrac representations
  Framework/Commons/Source/Messages/Framework-Representations.pb.cc
  Framework/Commons/Source/Messages/Framework-Representations.pb.h
  RobotControl/src/de/naoth/rc/core/messages/FrameworkRepresentations.java
  Utils/py/naoth/naoth/pb/Framework_Representations_pb2.py
Due: test_naoth, publish_naoth, compileGame, compileLocal

fix: made the socket cancelable in order to stop the thread
  Framework/Platforms/Source/DCM/NaoRobot/OptiTrackClient.cpp
  Framework/Platforms/Source/DCM/NaoRobot/OptiTrackClient.h
Due: compileGame, compileLocal

cancel scheduled commands of the python agent controller, if the connection is lost
  Utils/py/naoth/naoth/utils/_debug.py
Due: test_naoth, publish_naoth

some cosmetic changes
  Framework/Platforms/Source/DCM/NaoRobot/OptiTrackClient.cpp
Due: compileGame, compileLocal

make ballcenter in patch a vector2d -> improve subpixel accurray
  NaoTHSoccer/Source/Cognition/Modules/VisualCortex/BallDetector/CNNBallDetector.cpp
  NaoTHSoccer/Source/Cognition/Modules/VisualCortex/BallDetector/CNNBallDetector.h
Due: compileGame, compileLocal

fixed order of operation because of automatic casting
  NaoTHSoccer/Source/Cognition/Modules/VisualCortex/BallDetector/CNNBallDetector.cpp
Due: compileGame, compileLocal

implemented FX theme selection for RC
  RobotControl/src/de/naoth/rc/Helper.java
  RobotControl/src/de/naoth/rc/RobotControl.java
  RobotControl/src/de/naoth/rc/RobotControlImpl.java
  RobotControl/src/de/naoth/rc/components/preferences/PreferencesComboBox.form
  RobotControl/src/de/naoth/rc/components/preferences/PreferencesComboBox.java
  RobotControl/src/de/naoth/rc/components/preferences/PreferencesDialog.java
  RobotControl/src/de/naoth/rc/core/dialog/AbstractJFXDialog.java
Due: none

use the helper method of the Helper class
  RobotControl/src/de/naoth/rc/HelpDialog.java
Due: none

Added two variants of a dark theme and use it in all fx dialogs
  RobotControl/src/de/naoth/rc/dialogs/teamcommviewer/TeamCommViewerFx.java
  RobotControl/src/de/naoth/rc/dialogsFx/debugrequests/DebugRequestsDialog.java
  RobotControl/src/de/naoth/rc/dialogsFx/moduleconfiguration/ModuleConfigurationDialog.java
  RobotControl/src/de/naoth/rc/dialogsFx/parameters/ParametersDialog.java
  RobotControl/src/de/naoth/rc/dialogsFx/representationinspector/RepresentationInspectorDialog.java
  RobotControl/src/de/naoth/rc/res/themes/Black.css
  RobotControl/src/de/naoth/rc/res/themes/Dark.css
Due: none

moved the execute method to the cpp file
  NaoTHSoccer/Source/Cognition/Modules/Perception/VirtualVisionProcessor/VirtualVisionProcessor.cpp
  NaoTHSoccer/Source/Cognition/Modules/Perception/VirtualVisionProcessor/VirtualVisionProcessor.h
Due: compileGame, compileLocal

fix for java 11+
  RobotControl/src/de/naoth/rc/Helper.java
Due: none

gradle version update
  RobotControl/build.gradle
  RobotControl/gradle/wrapper/gradle-wrapper.properties
Due: none

remove generated code from matlab networks
  Utils/MatlabDeepLearning/generated/result_CNN_aug1_synthetic/CNN_aug1_synthetic.cpp
  Utils/MatlabDeepLearning/generated/result_CNN_aug1_synthetic/CNN_aug1_synthetic.h
  Utils/MatlabDeepLearning/generated/result_CNN_aug2_full_conv/CNN_aug2_full_conv.cpp
  Utils/MatlabDeepLearning/generated/result_CNN_aug2_full_conv/CNN_aug2_full_conv.h
  Utils/MatlabDeepLearning/generated/result_CNN_basic_synthetic_fusion/CNN_basic_synthetic_fusion.cpp
  Utils/MatlabDeepLearning/generated/result_CNN_basic_synthetic_fusion/CNN_basic_synthetic_fusion.h
  Utils/MatlabDeepLearning/generated/result_CNN_synth_full_conv/CNN_synth_full_conv.cpp
  Utils/MatlabDeepLearning/generated/result_CNN_synth_full_conv/CNN_synth_full_conv.h
Due: none

remove generated matlab networks
  Utils/MatlabDeepLearning/.gitignore
  Utils/MatlabDeepLearning/README.md
  Utils/MatlabDeepLearning/data/ball.png
  Utils/MatlabDeepLearning/generated/.gitignore
  Utils/MatlabDeepLearning/generated/.keep
  Utils/MatlabDeepLearning/generated/result_CNN_aug1_synthetic/train.m
  Utils/MatlabDeepLearning/generated/result_CNN_aug2_full_conv/train.m
  Utils/MatlabDeepLearning/generated/result_CNN_basic_synthetic_fusion/train.m
  Utils/MatlabDeepLearning/generated/result_CNN_synth_full_conv/train.m
Due: none

remove stub implementation for keras + matlab
  Utils/MatlabDeepLearning/GO2019Experiments/KerasStuff.m
Due: none

remove matlab code generator for ball classifier
  Utils/MatlabDeepLearning/generatorFunctions/addBatchNormalizationLayer.m
  Utils/MatlabDeepLearning/generatorFunctions/addClassificationOutputLayer.m
  Utils/MatlabDeepLearning/generatorFunctions/addConvolution2Dlayer.m
  Utils/MatlabDeepLearning/generatorFunctions/addFullyConnectedLayer.m
  Utils/MatlabDeepLearning/generatorFunctions/addImageInputLayer.m
  Utils/MatlabDeepLearning/generatorFunctions/addInitialCopyFromInput.m
  Utils/MatlabDeepLearning/generatorFunctions/addLeakyReLULayer.m
  Utils/MatlabDeepLearning/generatorFunctions/addMaxPolling2dLayer.m
  Utils/MatlabDeepLearning/generatorFunctions/addReLULayer.m
  Utils/MatlabDeepLearning/generatorFunctions/addSoftMaxLayer.m
  Utils/MatlabDeepLearning/generatorFunctions/createCppFile.m
  Utils/MatlabDeepLearning/tools/brightness.m
  Utils/MatlabDeepLearning/tools/compare_json_labels.m
  Utils/MatlabDeepLearning/tools/data_augmentation.m
  Utils/MatlabDeepLearning/tools/data_augmentation.py
  Utils/MatlabDeepLearning/tools/export_image_dir_to_mat.m
  Utils/MatlabDeepLearning/tools/export_mat_to_image_dir.m
  Utils/MatlabDeepLearning/tools/imgReader.m
  Utils/MatlabDeepLearning/tools/load_from_mat.m
  Utils/MatlabDeepLearning/tools/pixelwise_classify.m
  Utils/MatlabDeepLearning/tools/plot_pca.m
  Utils/MatlabDeepLearning/tools/preLabeling.m
  Utils/MatlabDeepLearning/tools/read_from_one_image.m
  Utils/MatlabDeepLearning/tools/show_confusion.m
  Utils/MatlabDeepLearning/train/.gitignore
  Utils/MatlabDeepLearning/train/classifyImages.m
  Utils/MatlabDeepLearning/train/evaluate.m
  Utils/MatlabDeepLearning/train/quality.m
  Utils/MatlabDeepLearning/train/showLayer.m
  Utils/MatlabDeepLearning/train/train.m
  Utils/MatlabDeepLearning/train/trainNaoDevils.m
  Utils/MatlabDeepLearning/train/transferTrain.m
  Utils/MatlabDeepLearning/train/transferTrainMultiple.m
  Utils/MatlabDeepLearning/train/transfertest.m
Due: none

fix unused variable error
  Framework/Platforms/Source/DCM/NaoRobot/OptiTrackParser.h
Due: compileGame, compileLocal

test smaller codeclimate config
  .codeclimate.yml
Due: none

remove extremly slow codequality template
  .gitlab-ci.yml
Due: none

ups
  .gitlab-ci.yml
Due: none

fix call of cppcheck converter move build jobs in the same stage
  .gitlab-ci.yml
Due: none

another fix
  .gitlab-ci.yml
Due: none

hmmm
  .gitlab-ci.yml
Due: none

fix typo
  .gitlab-ci.yml
Due: none

remove outdated codeclimate.yml
  .codeclimate.yml
Due: none

create config for clang in clang job
  .gitlab-ci.yml
Due: none

fix escape stuff
  .gitlab-ci.yml
Due: none

fix another bug
  .gitlab-ci.yml
Due: none

small cleanup for WhistleSimulator
  Framework/Platforms/Source/WhistleSimulator/RawAudioFilePlayer.cpp
  Framework/Platforms/Source/WhistleSimulator/main.cpp
Due: compileGame, compileLocal

small cleanup in gitlab ci yaml
  .gitlab-ci.yml
Due: none

Devops/pages test
  .gitlab-ci.yml
Due: none

test a fix for branch names that dont contain a slash add explanations to the bash code
  .gitlab-ci.yml
Due: none
