Repository BerlinUnited/NaoTH: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish_naoth, compileGame, compileLocal

publish_naoth:
  stage: python
  script:
  - cd NaoTHSoccer/Make
  - premake5 gmake2 --protoc
  - cd ../../Utils/py/naoth
  - ./package_naoth.sh

compileGame:
  stage: build
  script:
  - cd NaoTHSoccer/Make
  - ./compileGame.sh -j 4

compileLocal:
  stage: build
  script:
  - cd NaoTHSoccer/Make
  - premake5 gmake2 --protoc
  - cd ../build/gmake2
  - make all -j 4

disable building for now
  .gitlab-ci.yml
Due: none

test new solution
  .gitlab-ci.yml
Due: none

fix typo
  .gitlab-ci.yml
Due: none

test completely new solution, since pages will always be overwritten
  .gitlab-ci.yml
Due: none

test
  .gitlab-ci.yml
Due: none

hopefully a fix for the CI_PAGE_URL problem
  .gitlab-ci.yml
Due: none

debug
  .gitlab-ci.yml
Due: none

add stuff for pages deploy in extra script
  .gitlab-ci.yml
  Utils/CI-Tools/pages.sh
Due: none

maybe a fix
  Utils/CI-Tools/pages.sh
Due: none

fix tar warning
  Utils/CI-Tools/pages.sh
Due: none

create the index html
  .gitlab-ci.yml
  Utils/CI-Tools/pages.sh
Due: none

create index.html in the correct folder
  .gitlab-ci.yml
Due: none

fix deploy path
  Utils/CI-Tools/pages.sh
Due: none

hopefully fix paths for cppcheck
  .gitlab-ci.yml
  Utils/CI-Tools/pages.sh
Due: none

more debug
  .gitlab-ci.yml
Due: none

maybe fix?
  Utils/CI-Tools/pages.sh
Due: none

debug + test fix
  .gitlab-ci.yml
  Utils/CI-Tools/pages.sh
Due: none

small cleanup
  .gitlab-ci.yml
Due: none

add hacky solution for cleanup
  Utils/CI-Tools/pages.sh
Due: none

cleanup and fix cleanup
  .gitlab-ci.yml
  Utils/CI-Tools/pages.sh
Due: none

more cleanup
  .gitlab-ci.yml
  Utils/CI-Tools/pages.sh
Due: none

enable build job again
  .gitlab-ci.yml
Due: none

set force flag to check all ifdef makros
  .gitlab-ci.yml
Due: none

better structure for the action selection README
  Utils/py/ActionSelection/README.md
Due: none

added some comments
  Utils/py/ActionSelection/run_simulation.py
Due: none

- removed unnecessary self-assignment samples[i].likelihood = samples[i].likelihood;
  NaoTHSoccer/Source/Cognition/Modules/Modeling/SelfLocator/MonteCarloSelfLocator/SampleSet.cpp
  NaoTHSoccer/Source/Cognition/Modules/Modeling/SelfLocator/MonteCarloSelfLocator/SampleSet.h
Due: compileGame, compileLocal

formatting
  NaoTHSoccer/Source/Cognition/Modules/VisualCortex/IntegralImageProvider.cpp
Due: compileGame, compileLocal

copied the original makeIntegralBild for testing and comaparison
  NaoTHSoccer/Source/Cognition/Modules/VisualCortex/IntegralImageProvider.cpp
  NaoTHSoccer/Source/Cognition/Modules/VisualCortex/IntegralImageProvider.h
Due: compileGame, compileLocal

use new integral image formatting
  NaoTHSoccer/Source/Cognition/Modules/VisualCortex/IntegralImageProvider.cpp
  NaoTHSoccer/Source/Representations/Perception/MultiChannelIntegralImage.h
Due: compileGame, compileLocal

small cleanup
  NaoTHSoccer/Source/Cognition/Modules/VisualCortex/IntegralImageProvider.cpp
  NaoTHSoccer/Source/Cognition/Modules/VisualCortex/IntegralImageProvider.h
  NaoTHSoccer/Source/Representations/Perception/MultiChannelIntegralImage.h
Due: compileGame, compileLocal

fix unsupported operator in fakeballdetector
  NaoTHSoccer/Source/Cognition/Modules/VisualCortex/FakeBallDetector/FakeBallDetector.cpp
Due: compileGame, compileLocal

add comment to clarify use of debugrequest
  NaoTHSoccer/Source/Cognition/Modules/Modeling/BallLocator/MultiKalmanBallLocator/MultiKalmanBallLocator.cpp
Due: compileGame, compileLocal

change value of newly introduced flag limits.applyChangeRotation to be consistent with prior behavior
  NaoTHSoccer/Source/Representations/Motion/Walk2018/Walk2018Parameters.h
Due: compileGame, compileLocal

add generated protobuf messages
  NaoTHSoccer/Source/Messages/Representations.pb.cc
  NaoTHSoccer/Source/Messages/Representations.pb.h
  RobotControl/src/de/naoth/rc/core/messages/Representations.java
  Utils/py/naoth/naoth/pb/Representations_pb2.py
Due: publish_naoth, compileGame, compileLocal

fix path to vector2.h
  NaoTHSoccer/Source/Motion/SensorFilter/bodyCollisionDetector.h
Due: compileGame, compileLocal

- detect if running in the new windows terminal which supports colors - added a global variable print_colors which can be used to explicitly enable or disable colors in projectconfig.user.lua
  Framework/BuildTools/ansicolors.lua
Due: compileGame, compileLocal

rename bodyCollisionDetector to BodyCollisionDetector to be consistens with the rest of the motion Modules make BodyCollisionDetector work with stand motion as well
  NaoTHSoccer/Source/Motion/Motion.cpp
  NaoTHSoccer/Source/Motion/Motion.h
  NaoTHSoccer/Source/Motion/SensorFilter/bodyCollisionDetector.cpp
  NaoTHSoccer/Source/Motion/SensorFilter/bodyCollisionDetector.h
Due: compileGame, compileLocal

started notes about future work disable module by default - it can be enabled via debug requests
  NaoTHSoccer/Source/Motion/Motion.cpp
  NaoTHSoccer/Source/Motion/SensorFilter/bodyCollisionDetector.cpp
  NaoTHSoccer/Source/Motion/SensorFilter/bodyCollisionDetector.h
Due: compileGame, compileLocal

Path conditions:
  publish_naoth: any of: Utils/py/naoth/**/*
  compileGame: any of: Framework/**/*, NaoTHSoccer/**/*
  compileLocal: any of: Framework/**/*, NaoTHSoccer/**/*
