Repository BerlinUnited/NaoTH: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_naoth, publish_naoth, compileGame, compileLocal

.gitlab-ci.yml:

stages:
 - python
 - static_analysis
 - nao 
 - linux

default:
  image: $DOCKER_IMAGE

cppcheck:
  stage: static_analysis
  rules:
     - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
     - if: '$CI_PIPELINE_SOURCE == "web"'
     - if: '$CI_PIPELINE_SOURCE == "trigger"'
     - if: $CI_COMMIT_BRANCH == "develop"
  script:
  - cppcheck -j 4 --enable=all --inconclusive --xml --xml-version=2 . 2> cppcheck-result.xml
  - cppcheck-htmlreport --file=cppcheck-result.xml --report-dir=test1 --source-dir=.

  artifacts:
    paths: [test1]
    expire_in: 1 week

test_naoth:
  stage: python
  rules:
    - if: '$PUBLISH_NAOTH != null || $TEST_NAOTH_PYTHON != null'
    - if: $CI_COMMIT_BRANCH == "develop"
      changes:
        - Utils/py/naoth/**/*
  script:
    - cd NaoTHSoccer/Make
    - premake5 gmake2 --protoc
    - cd ../../Utils/py/naoth
    - pip3 install . # install naoth
    - pip3 install scipy # TODO: Scipy is currently required but not defined as a dependency
    - python3 -m unittest discover -s tests

publish_naoth:
  # run the publish command if the PUBLISH_NAOTH flag is set or the commit changes the develop with changes in the naoth package
  stage: python
  rules:
    - if: '$PUBLISH_NAOTH'
    - if: $CI_COMMIT_BRANCH == "develop"
      changes:
      - Utils/py/naoth/**/*

  script:
  - cd NaoTHSoccer/Make
  - premake5 gmake2 --protoc
  - cd ../../Utils/py/naoth
  - ./package_naoth.sh

compileGame:
  stage: nao
  rules:
    - changes: 
      - Framework/**/*
      - NaoTHSoccer/**/*
    - if: '$TEST_NAOTH_PYTHON != null'
      when: never
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
    - if: $CI_COMMIT_BRANCH == "develop"
  script:
  - cd NaoTHSoccer/Make
  - ./compileGame.sh -j 4

compileLocal:
  stage: linux
  rules:
    - changes: 
      - Framework/**/*
      - NaoTHSoccer/**/*
    - if: '$TEST_NAOTH_PYTHON != null'
      when: never
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
    - if: $CI_COMMIT_BRANCH == "develop"
  script:
  - cd NaoTHSoccer/Make
  - premake5 gmake2 --protoc
  - cd ../build
  - make all -j 4

moved best models in separate folder change devil exporter1 to ouput cpp files instead of c files better handling of default values in compile.py
  Utils/py/BallDetection/RegressionNetwork/.gitignore
  Utils/py/BallDetection/RegressionNetwork/README.md
  Utils/py/BallDetection/RegressionNetwork/devil_code_generator1/compile.py
  Utils/py/BallDetection/RegressionNetwork/devil_code_generator1/onbcg.py
  Utils/py/BallDetection/RegressionNetwork/generate_image_db.py
  Utils/py/BallDetection/RegressionNetwork/models/best_models/fy1300.h5
  Utils/py/BallDetection/RegressionNetwork/models/best_models/fy1500.h5
  Utils/py/BallDetection/RegressionNetwork/models/best_models/fy1500_2.h5
  Utils/py/BallDetection/RegressionNetwork/models/best_models/fy1500_3.h5
  Utils/py/BallDetection/RegressionNetwork/models/best_models/fy1500_conf.h5
  Utils/py/BallDetection/RegressionNetwork/models/best_models/fy4000_3.h5
  Utils/py/BallDetection/RegressionNetwork/train.py
  Utils/py/BallDetection/RegressionNetwork/utility_functions/stats.py
Due: none

add ability to download kaggle dataset for balldetection to generate_image_db.py
  Utils/py/BallDetection/RegressionNetwork/generate_image_db.py
  Utils/py/BallDetection/RegressionNetwork/requirements.txt
Due: none

make args handling a lot less stupid for generate_image_db
  Utils/py/BallDetection/RegressionNetwork/generate_image_db.py
Due: none

small cleanup
  Utils/py/BallDetection/RegressionNetwork/devil_code_generator1/compile.py
  Utils/py/BallDetection/RegressionNetwork/generate_image_db.py
  Utils/py/BallDetection/RegressionNetwork/train.py
Due: none

fix evaluate.py
  Utils/py/BallDetection/RegressionNetwork/evaluate.py
Due: none

updated the frugally deep exporter
  Utils/py/BallDetection/RegressionNetwork/frugally_exporter/convert_h5_to_json.py
Due: none

rename file as it is called in the original repo
  Utils/py/BallDetection/RegressionNetwork/frugally_exporter/convert_model.py
Due: none

update requirements for ball training
  Utils/py/BallDetection/RegressionNetwork/environment.yml
  Utils/py/BallDetection/RegressionNetwork/requirements.txt
Due: none

fix experiments after restructuring
  Utils/py/BallDetection/RegressionNetwork/experiments/activation_function_experiment.py
  Utils/py/BallDetection/RegressionNetwork/experiments/rerun_training_and_compare.py
Due: none

add call script for frugally deep export
  Utils/py/BallDetection/RegressionNetwork/frugally_exporter/export.py
Due: none

small cleanup
  Utils/py/BallDetection/RegressionNetwork/generate_image_db.py
  Utils/py/BallDetection/RegressionNetwork/train.py
Due: none

add some notes to the readme
  Utils/py/BallDetection/RegressionNetwork/README.md
Due: none

add kaggle to conda environment file
  Utils/py/BallDetection/RegressionNetwork/environment.yml
Due: none

improve balldetection readme
  Utils/py/BallDetection/RegressionNetwork/README.md
Due: none

fixed thomas remakrs
  RobotControl/src/de/naoth/rc/dialogsFx/parameters/ParametersPanel.java
Due: none

added new icons
  RobotControl/src/de/naoth/rc/res/lucky/INFO.txt
  RobotControl/src/de/naoth/rc/res/lucky/dialog-error.png
  RobotControl/src/de/naoth/rc/res/lucky/dialog-information.png
  RobotControl/src/de/naoth/rc/res/lucky/dialog-warning.png
  RobotControl/src/de/naoth/rc/res/lucky/document-export.png
  RobotControl/src/de/naoth/rc/res/lucky/media-floppy.png
  RobotControl/src/de/naoth/rc/res/lucky/view-refresh.png
  RobotControl/src/de/naoth/rc/res/style.css
Due: none

fix: handle spacebar behavior of the treeview
  RobotControl/src/de/naoth/rc/dialogsFx/debugrequests/DebugRequestsTree.java
Due: none

moved best models to data
  Utils/py/BallDetection/RegressionNetwork/.gitignore
  Utils/py/BallDetection/RegressionNetwork/data/best_models/fy1300.h5
  Utils/py/BallDetection/RegressionNetwork/data/best_models/fy1500.h5
  Utils/py/BallDetection/RegressionNetwork/data/best_models/fy1500_2.h5
  Utils/py/BallDetection/RegressionNetwork/data/best_models/fy1500_3.h5
  Utils/py/BallDetection/RegressionNetwork/data/best_models/fy1500_conf.h5
  Utils/py/BallDetection/RegressionNetwork/data/best_models/fy4000_3.h5
  Utils/py/BallDetection/RegressionNetwork/models/fy_1500.h5
Due: none

add macos folders to gitignore
  .gitignore
Due: none

add requirements.txt to green detector python project
  Utils/py/green_detector/requirements.txt
Due: none

remove unused Semaphore (copy from B-Human)
  Framework/Platforms/Source/DCM/Tools/Semaphore.cpp
  Framework/Platforms/Source/DCM/Tools/Semaphore.h
Due: compileGame, compileLocal

unify usage of joints
  Utils/py/log_parser_examples/current_consumption_example.py
  Utils/py/log_parser_examples/joint_data_example.py
  Utils/py/log_parser_examples/motor_vs_sensor_joint_example.py
  Utils/py/naoth/naoth/constants.py
  Utils/py/naoth/naoth/log/_hdf5.py
Due: test_naoth, publish_naoth

renamed to a more descriptive name
  Framework/Platforms/Source/DCM/Tools/DCMData.cpp
  Framework/Platforms/Source/DCM/Tools/DCMData.h
Due: compileGame, compileLocal

adjusted includes
  Framework/Platforms/Source/DCM/NaoRobot/NaoController.h
  Framework/Platforms/Source/DCM/NaoSMAL/DCMHandler.h
  Framework/Platforms/Source/DCM/Tools/DCMData.cpp
Due: compileGame, compileLocal

more comments renamed NaoSensorData to DCMSensorData, since the representation is specific to DCM
  Framework/Platforms/Source/DCM/LolaAdaptor/LolaAdaptor.h
  Framework/Platforms/Source/DCM/NaoRobot/NaoController.h
  Framework/Platforms/Source/DCM/NaoSMAL/SMALModule.cpp
  Framework/Platforms/Source/DCM/NaoSMAL/SMALModule.h
  Framework/Platforms/Source/DCM/Tools/DCMData.cpp
  Framework/Platforms/Source/DCM/Tools/DCMData.h
Due: compileGame, compileLocal

moved Data structs to a separate file. small bugfix (std:err -> std::cerr) don't compile GLola for NAO added comments
  Framework/Platforms/Source/DCM/Tools/Lola.h
  Framework/Platforms/Source/DCM/Tools/LolaData.h
Due: compileGame, compileLocal

formatting comments
  Framework/Platforms/Source/DCM/Tools/DCMData.h
Due: compileGame, compileLocal

added a comment removed unnecessary comments
  Framework/Platforms/Source/DCM/Tools/DCMData.cpp
Due: compileGame, compileLocal

comment
  Framework/Platforms/Source/DummySimulator/DummySimulator.h
Due: compileGame, compileLocal

moved conversion of MotorJointData to a separate method
  Framework/Platforms/Source/DCM/LolaAdaptor/LolaAdaptor.h
Due: compileGame, compileLocal

better declaration for the readSensorData(...)
  Framework/Platforms/Source/DCM/LolaAdaptor/LolaAdaptor.h
Due: compileGame, compileLocal

added include guards
  Framework/Platforms/Source/DCM/Tools/LolaData.h
Due: compileGame, compileLocal

move data conversion to a separate file
  Framework/Platforms/Source/DCM/LolaAdaptor/LolaAdaptor.h
  Framework/Platforms/Source/DCM/Tools/LolaDataConverter.h
Due: compileGame, compileLocal

renoved unnecessary include
  Framework/Platforms/Source/DCM/Tools/DCMData.h
Due: compileGame, compileLocal

adjusted to new version of StringTools
  Framework/Platforms/Source/Webots/WebotsController.cpp
Due: compileGame, compileLocal

msgpack is include only
  Framework/Platforms/Make/Webots.lua
Due: compileGame, compileLocal

typos in comments
  RobotControl/src/de/naoth/rc/dialogsFx/debugrequests/DebugRequestsTree.java
Due: none

set font of textarea to monospaced
  RobotControl/src/de/naoth/rc/dialogsFx/parameters/ParametersPanel.fxml
Due: none

implemented the modules tree
  RobotControl/src/de/naoth/rc/dialogsFx/moduleconfiguration/Module.java
  RobotControl/src/de/naoth/rc/dialogsFx/moduleconfiguration/ModuleConfiguration.java
  RobotControl/src/de/naoth/rc/dialogsFx/moduleconfiguration/ModuleConfigurationModules.fxml
  RobotControl/src/de/naoth/rc/dialogsFx/moduleconfiguration/ModuleConfigurationModules.java
Due: none

added a flash message to the module tree
  RobotControl/src/de/naoth/rc/dialogsFx/moduleconfiguration/ModuleConfiguration.java
  RobotControl/src/de/naoth/rc/dialogsFx/moduleconfiguration/ModuleConfigurationModules.fxml
  RobotControl/src/de/naoth/rc/dialogsFx/moduleconfiguration/ModuleConfigurationModules.java
Due: none
