Repository BerlinUnited/NaoTH: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_naoth, publish_naoth, compileGame, compileLocal

.gitlab-ci.yml:

stages:
 - python
 - static_analysis
 - nao 
 - linux

default:
  image: $DOCKER_IMAGE

cppcheck:
  stage: static_analysis
  rules:
     - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
     - if: '$CI_PIPELINE_SOURCE == "web"'
     - if: '$CI_PIPELINE_SOURCE == "trigger"'
     - if: $CI_COMMIT_BRANCH == "develop"
  script:
  - cppcheck -j 4 --enable=all --inconclusive --xml --xml-version=2 . 2> cppcheck-result.xml
  - cppcheck-htmlreport --file=cppcheck-result.xml --report-dir=test1 --source-dir=.

  artifacts:
    paths: [test1]
    expire_in: 1 week

test_naoth:
  stage: python
  rules:
    - if: '$PUBLISH_NAOTH != null || $TEST_NAOTH_PYTHON != null'
    - if: $CI_COMMIT_BRANCH == "develop"
      changes:
        - Utils/py/naoth/**/*
  script:
    - cd NaoTHSoccer/Make
    - premake5 gmake2 --protoc
    - cd ../../Utils/py/naoth
    - pip3 install . # install naoth
    - pip3 install scipy # TODO: Scipy is currently required but not defined as a dependency
    - python3 -m unittest discover -s tests

publish_naoth:
  # run the publish command if the PUBLISH_NAOTH flag is set or the commit changes the develop with changes in the naoth package
  stage: python
  rules:
    - if: '$PUBLISH_NAOTH'
    - if: $CI_COMMIT_BRANCH == "develop"
      changes:
      - Utils/py/naoth/**/*

  script:
  - cd NaoTHSoccer/Make
  - premake5 gmake2 --protoc
  - cd ../../Utils/py/naoth
  - ./package_naoth.sh

compileGame:
  stage: nao
  rules:
    - changes: 
      - Framework/**/*
      - NaoTHSoccer/**/*
    - if: '$TEST_NAOTH_PYTHON != null'
      when: never
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
    - if: $CI_COMMIT_BRANCH == "develop"
  script:
  - cd NaoTHSoccer/Make
  - ./compileGame.sh -j 4

compileLocal:
  stage: linux
  rules:
    - changes: 
      - Framework/**/*
      - NaoTHSoccer/**/*
    - if: '$TEST_NAOTH_PYTHON != null'
      when: never
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
    - if: $CI_COMMIT_BRANCH == "develop"
  script:
  - cd NaoTHSoccer/Make
  - premake5 gmake2 --protoc
  - cd ../build
  - make all -j 4

stop agents first
  Utils/py/SimsparkTests/game.py
Due: none

quick fix: gracefully stop agent, even if an exception occurs
  Utils/py/naoth/naoth/utils/_debug.py
Due: test_naoth, publish_naoth

started to implement the simspark controller as thread and with asyncio
  Utils/py/SimsparkTests/SimsparkController.py
Due: none

cleanup
  Utils/py/SimsparkTests/SimsparkController.py
Due: none

renamed task methods and some pep8 cleanup
  Utils/py/SimsparkTests/SimsparkController.py
Due: none

added some debug messages and stop thread, if the simspark instance stopped unexpected
  Utils/py/SimsparkTests/SimsparkController.py
Due: none

small improvement
  Utils/py/SimsparkTests/SimsparkController.py
Due: none

fixed the usage of the (new) simspark controller
  Utils/py/SimsparkTests/Tests/opp_goal_free_kick.py
  Utils/py/SimsparkTests/Tests/opp_pushing_free_kick.py
  Utils/py/SimsparkTests/Tests/pseudo_simple_penalty_kicker.py
  Utils/py/SimsparkTests/Tests/roles_test.py
  Utils/py/SimsparkTests/game.py
Due: none

prevent propagation of interrupts to child processes
  Utils/py/SimsparkTests/AgentController.py
  Utils/py/SimsparkTests/SimsparkController.py
Due: none

moved some code
  Utils/py/SimsparkTests/game.py
Due: none

moved argument validation function to its own class to wrap everything
  Utils/py/SimsparkTests/game.py
Due: none

quit gracefully, if the simulation unexpectedly died
  Utils/py/SimsparkTests/game.py
Due: none

comprehensively described the usage of the game skript file
  Utils/py/SimsparkTests/game.py
Due: none

ignore files from building the naoth python package
  Utils/py/.gitignore
Due: none

fix typo in comment
  NaoTHSoccer/Make/compileNao.sh
Due: compileGame, compileLocal

move joints definitions to init py
  Utils/py/naoth/naoth/log/__init__.py
  Utils/py/naoth/naoth/utils/_hdf5.py
Due: test_naoth, publish_naoth

moved joint definitions in extra python file to make usage in scripts more clear
  Utils/py/log_parser_examples/motor_vs_sensor_joint_example.py
  Utils/py/naoth/naoth/log/__init__.py
  Utils/py/naoth/naoth/log/_constants.py
Due: test_naoth, publish_naoth

add todo for example log scripts
  Utils/py/log_parser_examples/motor_vs_sensor_joint_example.py
Due: none

moved hdf5 to log folder
  Utils/py/naoth/naoth/log/_hdf5.py
Due: test_naoth, publish_naoth

update and cleanup hdf5 script
  Utils/py/naoth/naoth/log/__init__.py
  Utils/py/naoth/naoth/log/_hdf5.py
Due: test_naoth, publish_naoth

add a todo
  Utils/py/log_parser_examples/current_consumption_example.py
Due: none

WIP for hdf demo
  Utils/py/log_parser_examples/convert_log_to_hdf5_demo.py
  Utils/py/naoth/naoth/log/__init__.py
  Utils/py/naoth/naoth/log/_hdf5.py
  Utils/py/naoth/naoth/log/utils.py
Due: test_naoth, publish_naoth

register some representations per default. This makes the user code easier to write
  Utils/py/log_parser_examples/image_export.py
  Utils/py/log_parser_examples/joint_data_example.py
  Utils/py/log_parser_examples/motor_vs_sensor_joint_example.py
  Utils/py/log_parser_examples/show_edgels_from_log.py
  Utils/py/log_parser_examples/show_fsr_from_log.py
  Utils/py/naoth/naoth/log/_experimental_parser.py
Due: test_naoth, publish_naoth

add changelog entry
  Utils/py/naoth/CHANGELOG.md
Due: test_naoth, publish_naoth

added changelog entry
  Utils/py/naoth/CHANGELOG.md
Due: test_naoth, publish_naoth

POC for a debug command recorder
  RobotControl/src/de/naoth/rc/core/server/MessageServer.java
  RobotControl/src/de/naoth/rc/statusbar/StatusbarMacroRecorder.java
Due: none

small changes & cleanup
  Utils/py/SimsparkTests/SimsparkController.py
  Utils/py/SimsparkTests/Utils.py
  Utils/py/SimsparkTests/game.py
Due: none

be careful passing dicts via functions, since their passed by reference
  Utils/py/SimsparkTests/Tests/pseudo_simple_penalty_kicker.py
Due: none

fixed new behavior option
  Utils/py/SimsparkTests/Tests/pseudo_simple_penalty_kicker.py
Due: none

renamed the penalty kicker test, since it isn't "pseudo" anymore
  Utils/py/SimsparkTests/Tests/penalty_kicker.py
  Utils/py/SimsparkTests/main.py
Due: none

quick fix: once the kickoff flag is set via debug request, it wasn't possible to reset the flag
  NaoTHSoccer/Source/Cognition/Modules/Infrastructure/GameController/GameController.cpp
Due: compileGame, compileLocal

fixed imports
  Utils/py/SimsparkTests/Tests/opp_goal_free_kick.py
  Utils/py/SimsparkTests/Tests/opp_pushing_free_kick.py
  Utils/py/SimsparkTests/Tests/roles_test.py
  Utils/py/SimsparkTests/game.py
Due: none

fixed the free kick tests and using the current behavior options (free_kick_simple)
  Utils/py/SimsparkTests/Tests/opp_goal_free_kick.py
  Utils/py/SimsparkTests/Tests/opp_pushing_free_kick.py
Due: none

fix: catched wrong exception
  Utils/py/SimsparkTests/SimsparkController.py
Due: none

added a short description to the tests
  Utils/py/SimsparkTests/Tests/__init__.py
  Utils/py/SimsparkTests/Tests/opp_goal_free_kick.py
  Utils/py/SimsparkTests/Tests/opp_pushing_free_kick.py
  Utils/py/SimsparkTests/Tests/penalty_kicker.py
  Utils/py/SimsparkTests/main.py
Due: none

fixes the debug module of the python package for version <3.7
  Utils/py/naoth/naoth/utils/_debug.py
Due: test_naoth, publish_naoth

extended interface of RC and made command serializable
  RobotControl/src/de/naoth/rc/RobotControl.java
  RobotControl/src/de/naoth/rc/RobotControlImpl.java
  RobotControl/src/de/naoth/rc/core/server/Command.java
Due: none

added menu to rc and show command recordings
  RobotControl/src/de/naoth/rc/statusbar/StatusbarMacroRecorder.java
Due: none

saving, restoring, replaying recorded commands
  RobotControl/src/de/naoth/rc/statusbar/StatusbarMacroRecorder.java
Due: none

moved and renamed class
  RobotControl/src/de/naoth/rc/tools/CommandRecorder.java
Due: none
