Repository BerlinUnited/NaoTH: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_naoth, publish_naoth, compileGame, compileLocal

.gitlab-ci.yml:

stages:
 - python
 - static_analysis
 - nao 
 - linux

default:
  image: $DOCKER_IMAGE

cppcheck:
  stage: static_analysis
  rules:
     - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
     - if: '$CI_PIPELINE_SOURCE == "web"'
     - if: '$CI_PIPELINE_SOURCE == "trigger"'
     - if: $CI_COMMIT_BRANCH == "develop"
  script:
  - cppcheck -j 4 --enable=all --inconclusive --xml --xml-version=2 . 2> cppcheck-result.xml
  - cppcheck-htmlreport --file=cppcheck-result.xml --report-dir=test1 --source-dir=.

  artifacts:
    paths: [test1]
    expire_in: 1 week

test_naoth:
  stage: python
  rules:
    - if: '$PUBLISH_NAOTH != null || $TEST_NAOTH_PYTHON != null'
    - if: $CI_COMMIT_BRANCH == "develop"
      changes:
        - Utils/py/naoth/**/*
  script:
    - cd NaoTHSoccer/Make
    - premake5 gmake2 --protoc
    - cd ../../Utils/py/naoth
    - pip3 install . # install naoth
    - pip3 install scipy # TODO: Scipy is currently required but not defined as a dependency
    - python3 -m unittest discover -s tests

publish_naoth:
  # run the publish command if the PUBLISH_NAOTH flag is set or the commit changes the develop with changes in the naoth package
  stage: python
  rules:
    - if: '$PUBLISH_NAOTH'
    - if: $CI_COMMIT_BRANCH == "develop"
      changes:
      - Utils/py/naoth/**/*

  script:
  - cd NaoTHSoccer/Make
  - premake5 gmake2 --protoc
  - cd ../../Utils/py/naoth
  - ./package_naoth.sh

compileGame:
  stage: nao
  rules:
    - changes: 
      - Framework/**/*
      - NaoTHSoccer/**/*
    - if: '$TEST_NAOTH_PYTHON != null'
      when: never
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
    - if: $CI_COMMIT_BRANCH == "develop"
  script:
  - cd NaoTHSoccer/Make
  - ./compileGame.sh -j 4

compileLocal:
  stage: linux
  rules:
    - changes: 
      - Framework/**/*
      - NaoTHSoccer/**/*
    - if: '$TEST_NAOTH_PYTHON != null'
      when: never
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
    - if: $CI_COMMIT_BRANCH == "develop"
  script:
  - cd NaoTHSoccer/Make
  - premake5 gmake2 --protoc
  - cd ../build
  - make all -j 4

better walk params for SimSpark
  NaoTHSoccer/Config/platform/SimSpark/Walk_FootStepPlanner2018.cfg
Due: compileGame, compileLocal

added pause arguments to the simspark game script
  Utils/py/SimsparkTests/game.py
Due: none

simspark test fix: make sure all arguments are strings
  Utils/py/SimsparkTests/AgentController.py
Due: none

set the edit and continue feature in vs to Off
  NaoTHSoccer/Make/premake5.lua
Due: compileGame, compileLocal

remove old gitignore
  NaoTHSoccer/.gitignore
Due: compileGame, compileLocal

read data from stream_reader until complete message is received
  Utils/py/naoth/naoth/utils/_debug.py
Due: test_naoth, publish_naoth

fix typo after merge
  NaoTHSoccer/Source/Representations/Motion/CollisionPercept.h
Due: compileGame, compileLocal

change include guards according to code guidelines
  NaoTHSoccer/Source/Representations/Motion/CollisionPercept.h
Due: compileGame, compileLocal

fix some xabsl errors
  NaoTHSoccer/Source/Cognition/Modules/Behavior/XABSLBehaviorControl/Options/Test/agent/bumper_collision_agent.xabsl
  NaoTHSoccer/Source/Cognition/Modules/Behavior/XABSLBehaviorControl/Options/Test/agent/collision_test_bumperCollision_agent.xabsl
  NaoTHSoccer/Source/Cognition/Modules/Behavior/XABSLBehaviorControl/agents.xabsl
Due: compileGame, compileLocal

more include guard fixes
  NaoTHSoccer/Source/Motion/SensorFilter/BumperCollisionDetector.h
Due: compileGame, compileLocal

disable bumpercollisiondetector per default
  NaoTHSoccer/Source/Motion/Motion.cpp
Due: compileGame, compileLocal

dont set the old collision detector per default
  NaoTHSoccer/Config/platform/Nao/modules.cfg
Due: compileGame, compileLocal

Add CHANGELOG
  CHANGELOG
Due: none

Update CHANGELOG
  CHANGELOG
Due: none

started to implement treeview filter
  RobotControl/src/de/naoth/rc/dialogsFx/debugrequests/DebugRequestsTree.fxml
  RobotControl/src/de/naoth/rc/dialogsFx/debugrequests/DebugRequestsTree.java
Due: none

use the string representation also as class object representation
  Utils/py/naoth/naoth/math/_math2d.py
  Utils/py/naoth/naoth/math/_math3d.py
Due: test_naoth, publish_naoth

let it compile again
  NaoTHSoccer/Source/Motion/Engine/InverseKinematicsMotion/Motions/StandMotion.cpp
  NaoTHSoccer/Source/Motion/SensorFilter/InertiaSensorCalibrator.cpp
Due: compileGame, compileLocal

implemented treeview filter (on the tree nodes)
  RobotControl/src/de/naoth/rc/componentsFx/TreeNodeItem.java
  RobotControl/src/de/naoth/rc/componentsFx/TreeNodeItemPredicate.java
Due: none

added the tree filter to the debug request dialog
  RobotControl/src/de/naoth/rc/dialogsFx/debugrequests/DebugRequestsTree.java
Due: none

fixed the module configuration dialog after the tree node item modifications
  RobotControl/src/de/naoth/rc/dialogsFx/moduleconfiguration/ModuleConfigurationModules.java
Due: none

added the search filter to the module configuration tree
  RobotControl/src/de/naoth/rc/dialogsFx/moduleconfiguration/ModuleConfigurationModules.fxml
  RobotControl/src/de/naoth/rc/dialogsFx/moduleconfiguration/ModuleConfigurationModules.java
Due: none

renamed the TreeNodeItemPredicate to TreeItemPredicate in order to make it more general and reflect it in the naming
  RobotControl/src/de/naoth/rc/componentsFx/TreeItemPredicate.java
  RobotControl/src/de/naoth/rc/componentsFx/TreeNodeItem.java
  RobotControl/src/de/naoth/rc/dialogsFx/debugrequests/DebugRequestsTree.java
  RobotControl/src/de/naoth/rc/dialogsFx/moduleconfiguration/ModuleConfigurationModules.java
Due: none

added a filterable tree item
  RobotControl/src/de/naoth/rc/componentsFx/FilterableTreeItem.java
Due: none

small change, set it in the fxml file
  RobotControl/src/de/naoth/rc/dialogsFx/debugrequests/DebugRequestsTree.fxml
  RobotControl/src/de/naoth/rc/dialogsFx/debugrequests/DebugRequestsTree.java
Due: none

fix: wrong list
  RobotControl/src/de/naoth/rc/componentsFx/FilterableTreeItem.java
Due: none

Added search field to the parameter panel
  RobotControl/src/de/naoth/rc/dialogsFx/parameters/ParametersPanel.fxml
  RobotControl/src/de/naoth/rc/dialogsFx/parameters/ParametersPanel.java
Due: none

start filtering only, if there's something to filter
  RobotControl/src/de/naoth/rc/dialogsFx/debugrequests/DebugRequestsTree.java
  RobotControl/src/de/naoth/rc/dialogsFx/parameters/ParametersPanel.java
Due: none

scroll to the selected item, when disabling the search
  RobotControl/src/de/naoth/rc/dialogsFx/debugrequests/DebugRequestsTree.java
  RobotControl/src/de/naoth/rc/dialogsFx/moduleconfiguration/ModuleConfigurationModules.java
Due: none

fixed the AutoCompleteComboBox to work with java 8+ AND java 14
  RobotControl/src/de/naoth/rc/componentsFx/AutoCompleteComboBox.java
Due: none

updated the help files and added the quicksearch feature
  RobotControl/src/de/naoth/rc/dialogs/help/DebugRequest (FX).html
  RobotControl/src/de/naoth/rc/dialogs/help/ModuleConfiguration (FX).html
  RobotControl/src/de/naoth/rc/dialogs/help/Parameter (FX).html
Due: none

fixed premake script, if only the "--protoc" option is used and notify the user about missing protobuf files, if she/he tried to import the naoth package without running "premake --protoc" first
  NaoTHSoccer/Make/premake5.lua
  Utils/py/naoth/naoth/pb/__init__.py
Due: test_naoth, publish_naoth, compileGame, compileLocal

add comment explaining whats going on the premake file
  NaoTHSoccer/Make/premake5.lua
Due: compileGame, compileLocal

remove old simulation test module used for visualization of simulation stuff for a paper
  NaoTHSoccer/Source/Cognition/Cognition.cpp
  NaoTHSoccer/Source/Cognition/Modules/Modeling/Simulation/SimulationTest.cpp
  NaoTHSoccer/Source/Cognition/Modules/Modeling/Simulation/SimulationTest.h
Due: compileGame, compileLocal

renamed FIXMECameraMatrixCorrectorV3 to CameraMatrixCorrectorV3
  NaoTHSoccer/Source/Cognition/Cognition.cpp
Due: compileGame, compileLocal

added changelog
  CHANGELOG
Due: none

set AudioControl with MODIFY (useful for testing)
  NaoTHSoccer/Source/Cognition/Modules/Behavior/BasicTestBehavior/BasicTestBehavior.cpp
Due: compileGame, compileLocal

fix typos in comment
  Framework/Platforms/Source/DCM/NaoRobot/V4lCameraHandler.cpp
Due: compileGame, compileLocal

removed the obsolete setting smartgit.compare.text.maxLineLength
  .gitconfig
Due: none

workaround: _pb2.py are generated with system line endings, but cc, h and java are always generated with ln
  .gitattributes
Due: none

don't ignore protobuf message files
  .gitignore
Due: none
